{% extends 'admin/master.html' %}
{% block body %}
{% if agent == True %}
<a href="/admin/chats/send_message" class="btn">Send message</a>
{%endif%}
<table>
    <caption>Chats list</caption>
    <thead>
        <tr>
            <th>Chat name</th>
        </tr>
    </thead>
    <tbody>
        {% for _chat in chats %}
        <tr>
            <td><a href="/admin/chats/about/{{_chat.id}}">{{_chat.chat_name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <style type="text/css">
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
    }
    th, td:first-child {
        background: #AFCDE7;
        color: white;
        padding: 10px 20px;
    }
    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }
    td {
        background: #D8E6F3;
    }
    th:first-child, td:first-child {
        text-align: left;
    }
</style>
{% endblock body %}
